.chexlogo_div{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    margin-left: 10%;
}

.label_login{
    margin-top: 5%;
    text-align: center;
}
.label_login input{
    margin-left: 1%;
}

