<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app_name}"></title>
    <script src="https://kit.fontawesome.com/7ccfa6815b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/common_style.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/admin_main.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/admin_fragments.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/newplace_style.css">
</head>
<body>
    <header th:replace="admin/fragments/top :: top"></header>
    <div class="main-container">
        <nav th:replace="admin/fragments/menu :: menu" id="menu"></nav>
        <section id="content">
            <!-- ***************************************************** -->
            <h2>Dodaj miejsce</h2>
            <p th:if="${error_msg}" class="error_msg">error</p>
            <p th:if="${Info_msg}" class="info_msg">info</p>
          
            <div class="select-place-wrapper" th:if="${placetype.name() != 'OTHER'}">
              <form th:action="@{'/admin/places/new/' + ${placetype}}" method="GET" class="select-place-container">
                <p>Wybierz miejsce</p>
                <select id="selectedPlace" name="selectedPlace" required>
                    <option th:each="l : ${list}" th:value="${l.key}" th:text="${l.value}"></option>
                </select>
                <button type="submit">Dalej</button>
              </form>
            </div>
          
            <form class="add-new-place-container" th:action="@{'/admin/places/new/' + ${placetype}}" method="post" th:object="${placeForm}" enctype="multipart/form-data">
                <input type="hidden" name="prefix" th:field="*{prefix}">
                <input type="hidden" name="suffix" th:field="*{suffix}">
                <input type="hidden" name="placetype" th:value="${placetype}">
              <h3>Nowe miejsce</h3>
              <div>
                <label>Nowe ID</label>
              </div>
              <div>
                <p class="error_msg" th:if="${#fields.hasErrors('placeid')}" th:errors="*{placeid}" ></p>
                <span th:text="${placeForm.prefix}"></span>
                <input th:if="${placeForm.subplace}" type="text" name="placeid" maxlength="3" max="3" min="3" size="3"  th:field="*{placeid}">
                <input th:unless="${placeForm.subplace}" type="text" name="placeid" maxlength="5" max="5" min="5" size="5"  th:field="*{placeid}">
                <span th:text="${placeForm.suffix}"></span>
              </div>
          
              <div class="row">
                <div class="col-30">
                  <label for="nameEng" th:text="#{newplace_placeNameEng}"></label>
                  <input type="text" id="nameEng" name="nameEng" required>
                </div>
                <div class="col-25" style="flex-direction: row; justify-content: center; font-size: 1.2em;">
                  <label for="sameAsFirst" style="width: auto;">same as first</label>
                  <input style="width: auto;" type="checkbox" name="sameAsFirst" id="sameAsFirst">
                </div>
                <div class="col-30" >
                  <label for="namePl"  th:text="#{newplace_placeNamePl}"></label>
                  <input type="text" id="namePl" name="namePl" required>
                </div>
                
              </div>
              <!--  ************************************    -->
              <div class="row" th:if="${placeForm.subplace == false}">
                <div class="col-30">
                  <label for="latitude">Szerogość geograficzna</label>
                  <input type="number" min="-90" max="90" step="0.0000001" id="latitude" name="latitude" th:field="*{latitude}" required>
                </div>
                <div class="col-30">
                   <label for="longitude">Długość geograficzna</label>
                   <input type="number" min="-180" max="180" step="0.0000001" id="longitude" name="longitude" th:field="*{longitude}" required>
                </div>
                <div class="col-30">
                   <label for="radius">Promień</label>
                   <input type="number" step="1" min="0" id="radius" name="radius" th:field="*{radius}" required>
                </div>
              </div>
              
              <!--  ************************************    -->
              <div class="row">
                <div class="col-50">
                  <label for="points" th:text="#{newplace_points}"></label>
                  <input type="number" step="1" min="0" id="points" name="points"  th:field="*{points}">
                </div>
                <div class="col-50" th:if="${placeForm.subplace == false}">
                  <label for="difficultylevel">Pozim trudnoście</label>
                  <input type="number" step="1" min="1" max="7" id="difficultylevel" name="difficultylevel"  th:field="*{difficultylevel}">
                </div>
              </div>
              
              <!--  ************************************    -->
              <div class="row">
                <div class="col-50">
                  <label for="descriptionEng" th:text="#{newplace_descriptionEng}"></label>
                  <textarea name="descriptionEng" id="descriptionEng" th:text="${placeForm.descriptionEng}"></textarea>
                </div>
                <div class="col-50">
                  <label for="descriptionPl" th:text="#{newplace_descriptionPl}"></label>
                  <textarea name="descriptionPl" id="descriptionPl" th:text="${placeForm.descriptionPl}"></textarea>
                </div>
              </div>
              
              <!--  ************************************    -->
              <div class="row">
                <div class="col-30">&nbsp;</div>
                <div class="col-30">
                  <label for="svgPath">Scieżka svg</label>
                  <textarea name="svgPath" id="svgPath" th:text="${placeForm.svgPath}"></textarea>
                </div>
                <div class="col-30">&nbsp;</div>
              </div>
              
              <!--  ************************************    -->
              <div class="row">
                <div class="col-30">&nbsp;</div>
                <div class="col-30">
                  <input type="file" id="picture" name="picture" accept="image/png, image/jpeg, image/jpg, image/bmp" style="display: none" onchange="displayFileInfo(this)">
                  <button type="button" onclick="chooseImage()" th:text="#{btn_select_photo}"></button>
                </div>
                <div class="col-30">&nbsp;</div>
              </div>
              <div class="row">
                <div class="col-30">&nbsp;</div>
                <div class="col-30">
                  <span id="fileinfo"></span>
                </div>
                <div class="col-30">&nbsp;</div>
              </div>
              
              <!--  ************************************    -->
              <div class="row">
                <!-- <div class="col-30">&nbsp;</div>
                <div class="col-30"> -->
                  <button type="submit" th:text="#{btn_save}"></button>
                <!-- </div>
                <div class="col-30">&nbsp;</div> -->
              </div>
                  
            </form>
            <!-- ***************************************************** -->
        </section>
    </div>
    
</body>
<script src="/scripts/uploadFile.js"></script>
<script>

    document.getElementById("sameAsFirst").addEventListener('change', (event) => {
    let secondField = document.getElementById("namePl");
    if (event.currentTarget.checked) {
        secondField.value = "";
        secondField.disabled = true;
        secondField.style.background = "#c9c9c9";
    } else {
        secondField.disabled = false;
        secondField.style.background = "white";
    }
    })

</script>
</html>