<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app_name}"></title>
    <link rel="stylesheet" type="text/css" href="/css/common_style.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/admin_main.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/admin_fragments.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/newplace_style.css">
</head>
<body>
    <header th:replace="admin/fragments/top :: top"></header>
    <div class="main-container">
        <nav th:replace="admin/fragments/menu :: menu" id="menu"></nav>
        <section id="content">
            <!-- ***************************************************** -->
            places
            <a th:href="@{/admin/places/new}">Dodaj nowe</a>
            <!-- ***************************************************** -->
        </section>
    </div>
    
</body>
</html>