<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="#{app_name}"></title>
    <script src="https://kit.fontawesome.com/7ccfa6815b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/common_style.css">
    <link rel="stylesheet" type="text/css" href="/css/user/login_style.css">
    <link rel="stylesheet" type="text/css" href="/css/user/not_logged_style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://pl.allfont.net/allfont.css?fonts=league-spartan" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
   <div class="main_container_login">

       <div class="main_container_login_left">
           <div class="chexlogo_div">
                <span class="chexlogo_span">CHEX</span>
                <span class="chexslogan_span">PODRÓŻUJ POZNAWAJ ZDOBYWAJ</span>
            </div>
           <div class="alerts">
               <p class="error_msg" th:text="${error_msg}">xxx</p>
               <p class="info_msg"  th:text="${info_msg}">xxx</p>
           </div>
            <form th:action="@{/login}" method="post">
                <div class="label_login">
                    <label for="username">login</label>
                    <input type="text" minlength="2" name="username" id="username" value="user1" required/>
                    <label for="password">Hasło</label>
                    <input type="password" name="password" id="password" value="11" required/>
                </div>
                <div class="login_forgetpas_btn">
                    <button type="submit">Zaloguj</button>
                </div>
            </form>
           <div class="login_forgetpas_btn">
               <a th:href="@{/resetpassword}" class="forgetpass_btn">Przypomnij hasło</a>
           </div>
           <div class="registration_btn">

               <a th:href="@{/registration}">Zarejestruj</a>
           </div>
            <div class="triangle">
                <img src="/img/trojkat-dol.png" width="180%" height="180%">
            </div>
        </div>
  
       <div class="main_container_login_right">
        <img class="trojkat_gora" src="/img/trojkat_gora.png" width="30%" height="30%">
        <img class="greenimg" src="/img/circlelightgreen.png">
        <img class="mountainimg" src="/img/gory_pagestart.png">
        <img class="eiflaimg" src="/img/eifla.png">
        <img class="slaczekimg" src="/img/slaczek.png" width="10%" height="5%">
       </div>
   </div>

</body>
</html>