<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="#{app_name}"></title>
    <script src="https://kit.fontawesome.com/7ccfa6815b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/common_style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common_style.css">
    <link rel="stylesheet" type="text/css" href="/css/user/login_style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/user/login_style.css">
    <link rel="stylesheet" type="text/css" href="/css/user/not_logged_style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/user/not_logged_style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://pl.allfont.net/allfont.css?fonts=league-spartan" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
   <div class="main_container_login">

       <div class="main_container_login_left">
           <div class="chexlogo_div">
                <span class="chexlogo_span">CHEX</span>
                <span class="chexslogan_span">PODRÓŻUJ POZNAWAJ ZDOBYWAJ</span>
            </div>
            <form>
                <div class="label_login">
                    <label> 
                    <input type="text" name="login" value="Login" />
                    </label> 
                    <label> 
                    <input type="text" name="login" value="Hasło" />
                    </label>
                </div>
                <div class="login_forgetpas_btn">
                    <button>Zaloguj</button>
                    <button class="forgetpass_btn">Przypomnij<br> hasło</button>
                </div>
                <div class="registration_btn">
                    <button>Zarejestruj</button>
                </div>
            </form>
            <div class="alerts">
                <div class="error_msg">xxx</div>
                <div class="info_msg">xxx</div>
            </div>
            <div class="triangle">
                <img src="../static/img/trojkat-dol.png" width="180%" height="180%">
            </div>
        </div>
  
       <div class="main_container_login_right">
        <img class="trojkat_gora" src="../static/img/trojkat_gora.png" width="30%" height="30%">
        <img class="greenimg" src="../static/img/circlelightgreen.png">
        <img class="mountainimg" src="../static/img/gory_pagestart.png">
        <img class="eiflaimg" src="../static/img/eifla.png">
        <img class="slaczekimg" src="../static/img/slaczek.png" width="10%" height="5%">
       </div>

   </div>

</body>
</html>