<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="#{app_name}"></title>
    <script src="https://kit.fontawesome.com/7ccfa6815b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/common_style.css">
</head>
<body>

    <header class="top">

        <div class="logo-div">
            <span>Chex</span>
        </div>
    
        <div class="rigt-top-div">
            <div id="flag-container">
                <a th:href="@{/admin?lang=pl}"><img class="flag" alt="" th:src="@{/img/flag_pl.png}"></a>
                <a th:href="@{/admin?lang=en}"><img class="flag" alt="" th:src="@{/img/flag_eng.png}"></a>
            </div>
        
            <div id="setting-container">
                <i class="fas fa-cog"></i>
                <i class="fas fa-sign-out-alt"></i>
            </div>
        </div>
        
    </header>
    <h1>Resetowanie hasła</h1>

    <form th:action="@{/resetpassword}" method="POST" th:object="${passwordForm}"> 
        <input type="hidden" name="code" id="code" th:field="*{code}">
        <label for="password1" th:text="#{password}"></label>
        <input type="password1" name="password1" id="password1" th:field="*{password1}">
        <label for="password2" th:text="#{password}"></label>
        <input type="password2" name="password2" id="password2" th:field="*{password2}">
        <button type="submit">Resetuj hasło</button>
    </form>

</body>
</html>