<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="#{app_name}"></title>
    <script src="https://kit.fontawesome.com/7ccfa6815b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/common_style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common_style.css">
    <link rel="stylesheet" type="text/css" href="/css/user/login_style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/user/login_style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>

<body>

    <header class="top_login">
        <div class="login-top-part1">
            <div class="logo-div">
                <img src="../static/img/chexlogo.png" width="200" height="200">
            </div>
            <div class="xxx">
                <div class="logo-div">
                    <span class="create_new_account_span">Zresetuj hasło</span>
                </div>              
                    <span style="display: block; ">Zresetuj hasło</span>              
            </div>
            <div>
                <span></span>
            </div>
        </div>       
    </header>

    <p th:text="@{msg_err}"></p>

    <form class="registration_form" th:action="@{/resetpassword}" method="POST" th:object="${passwordForm}"> 
        <input type="hidden" name="code" id="code" th:field="*{code}">
        <label for="password1" th:text="#{password}"></label>
        <input type="password1" name="password1" id="password1" th:field="*{password1}">
        <label for="password2" th:text="#{password}"></label>
        <input type="password2" name="password2" id="password2" th:field="*{password2}">
        <button class="registration_button" type="submit">zresetuj</button>
    </form>

</body>
</html>