<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app_name}"></title>

    <link rel="stylesheet" type="text/css" href="../../../static/css/common_style.css">
    <link rel="stylesheet" type="text/css" href="../../../static/css/user/user_style.css">
    <style>



    </style>
    
    <script src="https://kit.fontawesome.com/7ccfa6815b.js" crossorigin="anonymous"></script>
</head>




<body>
<nav th:fragment="menu" id="menu">
    <p class="username" th:text=${session.user.getName()}></p>
    <div class="photo_container">
        <img class="profile-photo" th:src="@{${session.user.img}}">
        <button class="change-photo"><i class="fas fa-camera"></i></button>
    </div>
    <div class="social-button-bar">
        <form action="">
            <button type="submit"><i class="fas fa-envelope"></i></button>
        </form>
        <form action="">
            <button type="submit"><i class="fas fa-user-friends"></i></button>
        </form>
    </div>

    <a th:href="@{/testadd}">testadd</a>

    <nav>
        <a href="" class="menu-btn">
            <i class="fas fa-home"></i>
            <span>Strona Główna</span>
        </a>
        <a href="" class="menu-btn">
            <i class="fas fa-globe"></i>
            <!-- <img src="../../../static/img/places.png"> -->
            <span>Miejsca</span>
        </a>

        <a href="" class="menu-btn">
            <i class="fas fa-trophy"></i>
            <span>Osiągnięcia</span>
        </a>
    </nav>
    
</nav>
</body>
</html>